body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background-color: #ff0066;
  font-size: 100%;
}

img{
  width: 500px;
  height:500px;
  display: block;
  margin: auto;
}
nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 0.75em;
}
